/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  } */
  
  /* .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  } */
  /* .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #000000aa);
  }
   */
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 1em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  .ItemList{
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #000000;
    column-gap: 15px;
    display: flex !important;
    flex-direction: column !important;
  
  }
  
  
  .price-increase {
    color: green;
  }
  
  .price-decrease {
    color: red;
  }
  
  .fiyat{
    margin: 0;
    font-size: 16px;
  }
  
  h1{
    color:black;  
  }
  .spot-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    background: rgb(0, 0, 0) !important;;
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(0, 0, 0);
    opacity: 0.7 !important;
    height: 122px;
    color: #e4e5e5;
  }
  
  .buttons{
    margin: 10px !important;
  }
  
  
  @keyframes price-blink-animation {
    0% {
      color: inherit;
    }
    50% {
      color: transparent;
    }
    100% {
      color: inherit;
    }
  }
  
  .price-change {
    animation-name: price-blink-animation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
  }
  .item-p{
    color: rgb(233, 252, 252);
  }
.doviz-buttons{
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 3rem;
    text-align: center;
  }
  .spot-list{
   justify-content: center;
    text-align: center;
  
  }

  
  
  